div.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;

  .products-row {
    display: flex;
    flex-direction: row;

    .product-container {
      margin: 10px;
      width: 200px;

      .product-name {
        display: flex;
        justify-content: center;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .product-price {
        display: flex;
        justify-content: center;
        font-size: 14px;
        font-weight: bold;
        margin-top: 10px;
      }
    }
  }
}