<div class="page-container">
  <h1><%= t(".cart") %></h1>
  <div id="cart-form" class="cart-container">
    <%= render partial: 'carts/product_orders_list' %>
  </div>

  <div class="back-button">
    <%= link_to t(".back"), products_path, method: :get, :class => 'back-to-product-list' %>
  </div>
</div>