<tr>
  <td><%= cart_item.product.name %></td>
  <td><%= cart_item.quantity %></td>
  <td><%= humanized_money_with_symbol cart_item.price %></td>
  <td><%= link_to 'usuń', cart_items_path(product_id: cart_item.product.id), method: :delete %></td>
</tr>