@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=latin-ext');

//colors
$black: #333333;
$pink: #ff6767;
$green: #93bd46;
$dgreen: #5f8d3d;

//fonts
@mixin sans_l($fz) {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: $fz;
}
@mixin sans_r($fz) {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: $fz;
}
@mixin sans_b($fz) {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: $fz;
}
@mixin sans_eb($fz) {
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: $fz;
}

* {
  outline: none !important;
  @include sans_l(16px);
}

body {
  padding-bottom: 50px;
  overflow-x: hidden;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.alert {
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;
  margin: 0;
  z-index: 10;
  @include sans_l(13px);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  .fa-exclamation-triangle {
    margin: 0 7px 0 0;
    width: 20px;
  }
  .fa-remove {
    margin: 0 7px 0 0;
    width: 20px;
  }
  &.alert-alert {
    background: $pink;
    font-size: 13px;
    color: white;
  }
  &.alert-notice {
    background: $green;
    font-size: 13px;
    color: white;
  }
  .close {
    position: absolute;
    top: 0;
    right: 4px;
    background: none !important;
  }
  strong {
    font-size: 13px;
  }
}

.basic-btn {
  border-radius: 0;
  text-shadow: none;
  width: 200px;
  background-image: none;
  background: white;
  @include sans_r(14px);
  text-transform: uppercase;
  color: $black;
  margin: 0 auto;
  text-align: center;
  text-decoration: none !important;
  display: block;
  transition-duration: 300ms;
}

#ui-datepicker-div {
  width: 210px;
  border: none;
  .ui-datepicker-header {
    width: 100%;
    border-radius: 0;
    margin: 0 2px;
    background: $dgreen;
    &::before {
      display: none !important;
    }
    .ui-datepicker-title {
      margin-top: -10px;
      a {
        background: none !important;
      }
      span {
        font-size: 12px;
      }
    }
  }
  .ui-datepicker-calendar {
    width: 100%;
    background-color: white;
    border: none;
    box-shadow: none;
    thead {
      th {
        font-size: 13px !important;
      }
    }
    tbody {
      td {
        font-size: 12px;
      }
    }
  }
}
header {
  background: $black;
  height: 70px;
  padding: 15px 0;
  .logo {
    float: left;
    img {
      max-width: 55px;
    }
  }
  .menu {
    float: right;
    padding: 10px 0;
    margin: 0;
    list-style-type: none;
    li {
      float: left;
      a {
        padding: 0 10px;
        display: block;
        color: white;
        font-size: 14px;
        text-decoration: none;
      }
      .basket-icon {
        position: relative;
        width: 70px;
        height: 70px;
        background: white;
        display: block;
        border-radius: 100%;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
        box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
        label {
          position: absolute;
          top: -8px;
          right: -8px;
          background: $green;
          width: 30px;
          height: 30px;
          border-radius: 100%;
          text-align: center;
          font-size: 14px;
          padding: 4px 0;
        }
        .fa {
          color: $black;
          font-size: 34px;
          padding: 18px 0;
          text-align: center;
          display: block;
        }
      }
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: $black;
  height: 35px;
  padding: 9px 0;
  p {
    margin-bottom: 0;
    @include sans_l(12px);
    text-align: right;
    font-style: italic;
    color: white;
    span {
      text-decoration: underline;
      @include sans_l(12px);
      font-style: normal;
    }
  }
}

.sign-in, .sign-up {
  padding: 50px 0 0;
}
.form-box {
  background: $black;
  padding: 15px;
  h2 {
    color: white;
    text-align: center;
    @include sans_b(22px);
    margin-bottom: 35px;
    border-bottom: solid 1px white;
    padding: 0 0 10px;
  }
  .field {
    margin-bottom: 15px;
    label {
      display: block;
      color: white;
      @include sans_l(12px);
    }
    input[type="text"], input[type="password"], input[type="email"] {
      display: block;
      width: 100%;
      height: 35px;
      border-radius: 0;
      padding: 0 10px;
      @include sans_l(12px);
    }
  }
  .actions {
    margin: 35px 0;
    input[type="submit"] {
      border-radius: 0;
      text-shadow: none;
      width: 200px;
      background-image: none;
      background: white;
      @include sans_r(14px);
      text-transform: uppercase;
      color: $black;
      margin: 0 0 0 auto;
      display: block;
      &:hover {
        background: white;
        background-image: none;
        box-shadow: none;
      }
    }
  }
}

.home {
  padding: 50px 0 0;
  .product-box {
    padding: 2px;
    background: $black;
    margin-bottom: 30px;
    transition-duration: 300ms;
    .image-box {
      margin-bottom: 15px;
      display: block;
      img {
        max-width: 100%;
      }
    }
    h3 {
      color: white;
      @include sans_l(12px);
      text-align: center;
      margin: 0 0 15px;
    }
    .quantity {
      padding: 0 0 0 25px;
      position: relative;
      margin: 0 -15px 10px 0;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
      box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
      input {
        @include sans_l(12px);
        height: 25px;
        border: none;
        padding-left: 10px;
        display: block;
        margin-right: -8px;
        width: 60px;
        margin: 0 0 0 auto;
      }
      label {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        color: white;
        @include sans_l(11px);
        line-height: 12px;
        height: 12px
      }
    }
    h4 {
      @include sans_r(14px);
      background: $green;
      padding: 5px;
      margin: 0 0 2px;
      text-align: center;
      color: white;

    }
    .basic-btn {
      width: 100%;
      font-size: 12px;
      padding: 4px;
      display: block;
      cursor: pointer;
    }
    &:hover {
      -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
      box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    }
  }
}

.basket {
  table {
    border-bottom: solid 1px #dddddd;
    thead {
      -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
      box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
      tr {
        th {
          background: $green;
          @include sans_b(13px);
          border-bottom: none;
        }
      }
    }
    tbody {
      tr {
        td {
          @include sans_l(13px);
          img {
            max-width: 100px;
          }
          .actions {
            span {
              display: inline-block;
              margin: 0 5px;
            }
            .fa {
              display: inline-block;
              margin: 0 5px;
              cursor: pointer;
            }
          }
          .fa-remove {
            color: $pink;
            cursor: pointer;
          }
        }
      }
    }
  }
  .summary {
    float: right;
    background: $green;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    p {
      margin-bottom: 0;
      padding: 15px;
      @include sans_l(13px);
      span {
        @include sans_b(16px);
      }
    }
  }
  .bar {
    float: right;
    width: 100%;
    border-top: solid 1px #dddddd;
    padding: 20px 0;
    .basic-btn {
      background: $black;
      padding: 5px;
      color: white;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
      box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    }
  }
}

.checkout {
  .table {
    thead {
      tr {
        th {
          @include sans_r(13px);
          background: $green;
          padding: 2px;
        }
      }
    }
    tbody {
      td {
        @include sans_l(13px);
        img {
          max-width: 50px;
        }
      }
    }
  }
  .summary {
    text-align: center;
    background: $dgreen;
    color: white;
    padding: 5px;
    p {
      margin-bottom: 0;
      @include sans_l(13px);
      span {
        @include sans_b(20px);
      }
    }
  }
  .payment-informations {
    .input-group {
      width: 100%;
      label.error {
        position: absolute;
        bottom: -3px;
        font-size: 10px;
        font-weight: 100;
        color: red;
      }
      select {
        width: 100%;
        display: block;
        margin-bottom: 15px;
        height: 30px;
        @include sans_l(13px);
        border: 1px solid #c9d0d6;
        padding: 0 7px;
        option {
          @include sans_l(13px);
        }
      }
      input {
        display: block;
        width: 100%;
        height: 30px;
        @include sans_l(13px);
        margin-bottom: 15px;
        border-radius: 0;
      }
      .small-input {
        width: 49%;
        float: left;
        &:last-of-type {
          float: right;
        }
      }
      label {
        font-size: 12px;
      }
      span {
        font-size: 12px;
      }
    }
    .basic-btn {
      &:hover {
        background: $black;
        color: white;
      }
    }
  }
}

.orders {
  .table {
    thead {
      -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
      box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
      tr {
        th {
          @include sans_r(13px);
          background: $green;
          padding: 2px;
        }
      }
    }
    tbody {
      td {
        @include sans_l(13px);
        span {
          background: $dgreen;
          width: 30px;
          display: block;
          height: 30px;
          border-radius: 100%;
          color: white;
          text-align: center;
          @include sans_b(13px);
          padding: 5px 0;
          -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
          -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
          box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
        }
        img {
          max-width: 50px;
        }
        ul {
          list-style-type: square;
          padding: 0;
          margin: 0;
          li {
            @include sans_l(13px);
          }
        }
      }
    }
    .table {
      thead {
        th {
          font-size: 11px;
          background: $dgreen;
        }
      }
      tbody {
        td {
          font-size: 11px;
        }
      }
    }
  }
}