<% @products.each_slice(3) do |left_product, center_product, right_product | %>
  <div class="products-row">
    <%= render partial: 'products/product_tile', locals: { product: left_product, position: 'left' } %>
    <% if center_product.present? %>
      <%= render partial: 'products/product_tile', locals: { product: center_product, position: 'center' } %>
    <% end %>
    <% if right_product.present? %>
      <%= render partial: 'products/product_tile', locals: { product: right_product, position: 'right' } %>
    <% end %>
  </div>
<% end %>