<div class="product-container">
  <div class="product-name">
    <%= product.name %>
  </div>
  <div class="product-description">
    <%= product.description %>
  </div>
  <div class="product-price">
    <%= "#{t(".currency")} #{product.price}" %>
  </div>
</div>