<div class="page-container">
  <% if @products.any? %>
    <div id="products-form" class="products-container">
      <%= render partial: 'products/products_list' %>
    </div>
  <% else %>
    <div class="no-records">
      <%= t(".no-record") %>
    </div>
  <% end %>
  <div id="checkout-container" class="checkout-container">
    <%= render partial: 'products/checkout' %>
  </div>
</div>